*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;

}

body{
    background-color: rgb(240, 242, 243);
}
/* navbar */
nav {
      width: 100%;
      height: 100px;
      /* max-width: 1200px; */
      background:rgb(19, 14, 14);
      backdrop-filter: blur(10px);
      border-radius: 12px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      position: fixed;
    }

    .logo h1 {
      color: #fff;
      font-size: 24px;
      letter-spacing: 2px;
    }

    .link ul {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    .link ul li {
      position: relative;
    }

    .link ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      transition: color 0.3s ease;
      position: relative;
      padding: 5px 0;
    }

    /* Animated underline */
    .link ul li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background: linear-gradient(90deg, #ff6b6b, #feca57, #1dd1a1);
      transition: width 0.4s ease;
      border-radius: 2px;
    }

    .link ul li a:hover::after {
      width: 100%;
    }

    /* Hover text color animation */
    .link ul li a:hover {
      color: #feca57;
    }

    /* Gradient hover background animation (optional) */
    nav:hover {
      animation: glow 5s linear infinite;
    }

    @keyframes glow {
      0% { box-shadow: 0 0 20px #ff6b6b; }
      25% { box-shadow: 0 0 20px #feca57; }
      50% { box-shadow: 0 0 20px #1dd1a1; }
      75% { box-shadow: 0 0 20px #54a0ff; }
      100% { box-shadow: 0 0 20px #ff6b6b; }
    }
 
/* hero section */

 .hero-section{
    background-image: url(./Assets/Images/zero2.png), linear-gradient(to bottom, #313a47, #ffffff);
    background-size: cover;
    box-shadow: #95a2b4;
    height: 100vh;
    margin-bottom: 20px;
}

/* advertisement */

.advertisement{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    
                                                 ;

}

.ccc{
text-decoration: none;
color: black;
}

/* .adv{
    /* height: 150px;
    width: 150px; */



/* presentation */

.seller{
    display: flex;
    gap: 20px;
    padding: 0px 50px;
}
.a5{
    color: rgb(61, 61, 139);
    text-decoration: none;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px 40px;
}

/* all picture same class uses */
.ab{
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
}
.pre{
    border: 1px solid rgb(199, 201, 202);
    width: 410px;
    height: 630px;
    border-radius: 20px;
    background-color: rgb(232, 237, 240);
 
}

.span2{
    background-color: red;
    color: white;
    text-align: right;
}

.about{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 0% 10px;
    margin-bottom: 10px;

}
.inp{
    display: flex;
    gap: 10px;
    font-size: 25px;
    padding: 0% 10px;
    margin-bottom: 15px;
}
.h2{
    color: rgb(153, 149, 149);
     padding: 0px 10px;
     margin-bottom: 15px;
     text-decoration: none;
}
.h4{
    text-decoration: line-through;
    padding: 0px 10px;
 
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10px;
    margin-top: 10px;

}

.card button{
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
} 

a{
    list-style: none;
    color: black;
    text-decoration: none;
}
 








/* about section */
.perent{
    margin-bottom: 50px;
    display: flex;
    /* width: 100%;
    height: 600px;
    border: 1px solid black;
    padding: 10px 50px 10px 50px ; */
}

/* .child1{
    width: 600px;
    height: 600px;

}

.child2 img{
    width: 500px;
    height: 500px;
} */

.perent div{
    width: 100%;
    height: 500px;
    padding: 20px 40px 20px 40px;
}
.perent .child1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.perent h1{
    font-size: 36px;
}

.perent p{
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
}
.perent img{
    width: 90%;
   
    height: 150%;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 25px;

}
.perent .child2{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.iconsection{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    margin-top: 40px;
}

.iconsection .icon{
    height: 300px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.iconsection .icon img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: white;
}
.iconsection .icon h4{
    color: #313a47;
    font-weight: bold;
}

/* video section */

.video video{
    width: 100%;
    margin-bottom: 50px;
}

#h1{
    font-size: 40px;
}

.sec{
    margin-top: 100px;
}

/* saheen card section */

.abu{
    display: flex;
}

/* .haik{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */


.sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px 40px;
    
}

/* all picture same class uses */
.ac{
    height: 200px;
    width: 360px;
    margin-bottom: 10px;
   
}
.pree{
    border: 1px solid rgb(199, 201, 202);
    width: 400px;
    height: 440px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin: 30px 30px 30px 30px;
 
}

.span3{
    background-color: red;
    color: white;
    text-align: right;
}

.abaut{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 0% 10px;
    margin-bottom: 10px;

}
.inpu{
    display: flex;
    gap: 10px;
    font-size: 25px;
    padding: 0% 10px;
    margin-bottom: 15px;
}
.h4{
    color: rgb(153, 149, 149);
     padding: 0px 10px;
     margin-bottom: 15px;
     font-size: 20px;
}
.h2{
    text-decoration: line-through;
    padding: 0px 10px;
    font-size: 20px;
 
}

#h1{
    font-size: 25px;
}

.code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 5px 10px;
    margin-top: 10px;

}

.code button{
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
} 

a{
    list-style: none;
    color: black;
    text-decoration: none;
}

.shaheen{
    margin-right: 40px;
}

.shaheen > img{
    height: 900px;
    width: 900px;
    border-radius: 40px;
}


/* banner */

.banner-image{
    background-image: url(./Assets/Images/banner.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    height: 750px;
   border-radius: 10px;
    margin-top: 40px;
}
 

